:root {
  --heading-color: #654c3e;
  --primary-color: #f5f2ea;
  --secondary-color: #9c836d;
  --accent-color: #d0c7c2;
}

/*typography*/
h1,
h7 {
  font-family: "Italiana", serif;
}
h2,
p,
figcaption,
h5,
.nav-item {
  font-family: "Montserrat", sans-serif;
}

.slogan {
  font-family: "Bodoni Moda", serif;
  font-size: 300px;
}
h4 {
  font-size: 20px;
}
/* typography end */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-fluid {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

/* Navbar */
.navbar-collapse {
  justify-content: end;
}
nav {
  background-color: var(--primary-color);
}
.nav-item {
  color: var(--heading-color);
}
h7 {
  padding: 20px;
  padding-left: 30px;
  font-size: 25px;
  margin-bottom: 5px;
  color: #241500;
}
em{
  color: var(--accent-color);
}

/* hero section */
.hero {
  background: var(--primary-color);
}
h1 {
  margin-top: 150px;
  padding-left: 10px;
  font-size: 80px;
  color: var(--heading-color);
}
h2 {
  font-size: 30px;
  margin: 4px;
  padding-left: 10px;
  padding-bottom: 30px;
  color: var(--secondary-color);
  text-align: center;
}
#heading{
  font-size: 50px;
}

/* slogan */
.slogan {
  color: var(--heading-color);
  width: 100%;
  padding-top: 200px;
}
h3 {
  color: var(--heading-color);
  line-height: 2em;
}

/* about */

h2 .about {
  text-align: center;
  padding-top: 70px;
}
p {
  color: var(--heading-color);
  width: 90%;
  line-height: 2em;
}
#about {
  margin: 20px;
  font-size: 50px;
}
#about-section {
  padding: 20px;
}

a {
  text-decoration: none;
  color: black
}
a:hover{
  color: white;
}
#me {
  margin-left: 10px;
  padding: 20px;
}
/* slogan */
#home-cards {
  background-color: transparent;
  border: transparent;
}
/* offering */
.container #offerings {
  margin: 0;
  padding: 0;
}

/* Projects */
li {
  list-style-type: none;
}
/* Media queries */
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  h1 {
    font-size: 150px;
  }
  h2 {
    font-size: 40px;
  }
  button {
    width: 200px;
  }
  img {
    width: 80%;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #hero-section {
    background-image: url(img/hero-image.jfif);
    background-size: cover;
    background-repeat: no-repeat;
  }
  button {
    justify-content: center;
  
  }
  #hero-img {
    display: none;
  }
  h2 {
    color: #241500;
  }
  h1 {
    color: #241500;
    margin-top: 170px;
  }
  .slogan {
    color: var(--heading-color);
    padding: 50px;
    font-family: "Cinzel", serif;
  }
  h3 {
    display: block;
    padding: 10px;
    font-size: 15px;
  }
  #me {
    padding-top: 60px;
  }
  #slogan {
    display: none;
  }
}
/* media query end */

.fa-brands {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #654c3e;
}
.fixed-bottom {
  padding-bottom: 30px;
}
.fa-solid:hover{
  color: var(--heading-color);
}
